@model List<Product>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        Productos
    </div>
    <div class="card-body">

        <a asp-action="Guardar" asp-controller="Product" class="btn btn-success">Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id Producto</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Stock</th>
                    <th>Precio Unitario</th>
                    <th>Descuento Web</th>
                    <th>Activo/Inactivo</th>
                </tr>
            </thead>
            <tbody>

                @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ProductDescription</td>
                                <td>@item.refProductCategory.CategoryDescription</td>
                                <td>@item.Stock</td>
                                <td>@item.Price</td>
                                <td>@(item.HaveECDiscount ? "Si" : "No")</td>
                                <td>@(item.IsActive ? "Si" : "No")</td>
                                <td>
                                    <a asp-action="Editar" asp-controller="Product" class="btn btn-primary btn-sm" asp-route-ProductId="@item.ProductId">Editar</a>
                                    <a asp-action="Eliminar" asp-controller="Product" class="btn btn-danger btn-sm" asp-route-ProductId="@item.ProductId">Eliminar</a>
                                </td>
                                
                            </tr>
                        }
            </tbody>
        </table>
    </div>
</div>

